.main-card
  background-color: #e0e0e0
  margin: .5em
  flex: 1 0 15em
  border-radius: .25em
  //display: "flex"
  //flexDirection: "column"
  //alignItems: "flex-start"
  text-align: left
  position: relative

.main-card__title
  margin: .75em .75em .25em .25em

.main-card__text
  margin: .5em .5em .5em .75em

.button-group
  position: absolute
  top: 0
  right: 0
  transform: translate(.25em, -.5em)